* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Abel", sans-serif;
}

.bgtags {
    width: 100%;
    height: 120vh;
    background-repeat: no-repeat;
}

.bgtags_ray {
    background-color: rgba(2, 2, 2, 0.4);
    width: 100%;
    height: 120vh;
}

.bgtags_header {
    padding-top: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 40px;
}

.bgtags_header p {
    text-align: center;
    color: white;
    font-size: 25px;
}

.bgtags_model {
    margin-top: 40px;
    margin-bottom: 40px;
}

.bgtags_model img {
    position: relative;
    overflow: hidden;
}

.bgtags_model .info_glasses {
    background-color: rgba(246, 246, 246, 0.686);
    position: absolute;
    width: 450px;
    overflow: hidden;
    height: 156px;
    bottom: 0px;
    padding: 10px 10px;
}

.bgtags_model .info_glasses h2 {
    color: black;
    font-size: 25px;
    font-style: inherit;
}

.bgtags_glasses img {
    height: 50px;
    width: 100px;
    padding-right: 20px;
}

.img_glasses {
    background: white;
    padding-left: 30px;
    height: 76vh;
    padding-top: 50px;
}

.avatar {
    position: absolute;
    top: 131px;
    left: 124px;
}

.avatar img {
    width: 228px;
    height: 100px;
}

.img_glasses .btn-glass {
    background: white;
    height: 70px;
    border: none;
    margin-right: 20px;
    margin-top: 20px;
}